/*--FIRSTPAGE--*/
.Home {
  padding: 1rem;
  margin: 5rem;
}
.logo {
  max-width: 320px;
  margin-left: 22rem;
  background-color: rgba(235, 224, 204, 0.23);
  border-radius: 50%;
}
.cocina {
  display: flex;
  justify-content: center;
  margin: 3rem;
  background-color: aliceblue;
  padding: 2rem;
  text-decoration: none;
  border-radius: 20%;
  font-weight: bolder;
  color: black;
}
.mesero {
  display: flex;
  justify-content: center;
  margin: 3rem;
  background-color: aliceblue;
  padding: 2rem;
  text-decoration: none;
  border-radius: 20%;
  font-weight: bolder;
  color: black;
}
