.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 40px;
    background-color: rgba(255, 228, 196, 0.477);
}
h3{
    font-weight: bold;
    color: aliceblue;
    text-shadow: 3px 3px #000000;
    letter-spacing: 1px;
}
.containerSecundario {
    text-align: center;
}
input {
    color: black;
}
button {
    color: black;
    margin-top: 5px;
}
label{
    font-weight: bold;
    letter-spacing: 1px;
}